<header class="headerMain">
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="#">Documentacion</a>
      </li>
      <li class="menu__item" data-show-submenu>
        <span class="menu__trigger">
          <a href="#">Sedes</a>
          <small class="menu__arrow">↓</small>
        </span>

        <div>
          <div>
            <ul class="menu__list submenu">
              <li class="menu__item">
                <a class="menu__link" href="#" data-submenu>Lima</a>
              </li>
              <li class="menu__item">
                <a class="menu__link" href="#" data-submenu>Puno</a>
              </li>
              <li class="menu__item" data-show-submenu>
                <span class="menu__trigger">
                  <a href="#">Lima Metropolitana</a>
                  <small class="menu__arrow">→</small>
                </span>

                <div>
                  <div>
                    <ul class="menu__list submenu submenu--nivel-2">
                      <li class="menu__item">
                        <a class="menu__link" href="#" data-submenu>Comas</a>
                      </li>

                      <li class="menu__item">
                        <a class="menu__link" href="#" data-submenu
                          >Independencia</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<style lang="scss">
  .headerMain {
    background-color: black;
    padding: 1rem;
  }
  .menu {
    &__list {
      display: flex;
      gap: 1rem;
    }

    &__item {
    }

    &__item[data-show-submenu] {
      position: relative;

      &:hover .submenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      &:hover & .submenu {
        opacity: 0;
      }

      & &:hover .submenu {
        opacity: 1;
      }

      // triiger

      &:hover .menu__trigger {
        background-color: crimson;
      }

      &:hover & .menu__trigger {
        background-color: transparent;
      }

      & &:hover .menu__trigger {
        background-color: crimson;
      }
    }

    &__link {
      color: white;
      padding: 0.5em 1.5em;
      border-radius: 0.25rem;

      &:hover {
        background-color: rgb(97, 97, 97);
      }
    }

    &__arrow {
      color: white;
    }

    &__link[data-submenu] {
      display: block;
    }

    &__trigger {
      display: flex;
      padding: 0.5em 1.5em;
      gap: 1rem;
      color: white;
      border-radius: 0.25rem;
    }
  }

  .submenu {
    position: absolute;
    background-color: rgb(62, 62, 62);
    flex-direction: column;
    min-width: 15rem;
    top: 100%;
    padding: 0.5rem;
    gap: 0.5rem;
    transition:
      transform 0.4s,
      opacity 0.4s;
    transform: translateY(1rem);
    opacity: 0;
    pointer-events: none;

    &--nivel-2 {
      top: 0;
      left: 100%;
    }
  }
</style>
