---
import { Icon } from "astro-icon/components";
---

<a href="#" class="icon-circle">
    <Icon name="WhatsApp" size={40} color="white" />
  </a>

<style lang="scss" >

    a{
        position: fixed;
        z-index: 1000;
        bottom: 1.5rem;
        right: 1.5rem;
        --width-circle-icon: 60px;
        --color-circle-icon : green;
    }

</style>