---
import Comenterio, { type Comentario } from '@/components/Comentario.astro';
import SectionPage from '@/components/SectionPage.astro';
import Typographic from '@/components/Typographic.astro';
import Wrapper from '@/components/Wrapper/Wrapper.astro';
import { Icon } from 'astro-icon/components';

const comentarios: Comentario[] = [
  {
    image: 'https://madebydesignesia.com/themes/autoev/images/testimonial/1.webp',
    author: 'Increíble Servicio',
    job: 'Diseñador Gráfico',
    comment: 'El trabajo fue impecable, superó todas mis expectativas. Definitivamente los recomendaría.',
    star: 5,
  },
  {
    image: 'https://madebydesignesia.com/themes/autoev/images/testimonial/2.webp',
    author: 'Altamente Recomendado',
    job: 'Desarrollador Web',
    comment: 'El equipo fue muy profesional y atento a cada una de nuestras solicitudes. Lograron captar la esencia de lo que queríamos con rapidez.',
    star: 4,
  },
  {
    image: 'https://madebydesignesia.com/themes/autoev/images/testimonial/3.webp',
    author: 'Satisfecho con el Resultado',
    job: 'Fotógrafo',
    comment: 'La calidad del trabajo es innegable y la comunicación fue excelente durante todo el proceso.',
    star: 5,
  },
  {
    image: 'https://madebydesignesia.com/themes/autoev/images/testimonial/4.webp',
    author: 'Buen Servicio al Cliente',
    job: 'Gerente de Marketing',
    comment: 'El equipo fue muy receptivo y siempre estuvo dispuesto a ayudar. Aunque el proyecto se retrasó un poco, la calidad final compensó el tiempo extra.',
    star: 3,
  },
  {
    image: 'https://madebydesignesia.com/themes/autoev/images/testimonial/5.webp',
    author: 'Trabajo de Calidad',
    job: 'Consultor SEO',
    comment: 'A pesar de que el precio fue un poco alto, el resultado final lo justificó completamente.',
    star: 4,
  },
  {
    image: 'https://madebydesignesia.com/themes/autoev/images/testimonial/6.webp',
    author: 'Excelente Experiencia',
    job: 'Community Manager',
    comment: 'Trabajar con ellos fue un placer. El equipo fue muy profesional y el proyecto se entregó antes de lo previsto, con un nivel de calidad excepcional.',
    star: 3,
  },
];
---

<SectionPage>
  <Wrapper>
    <Typographic as="h2" size="sectionTitle" theme="theme2">Comentarios</Typographic>
    <div class="slider slider--v4">
      <button class="slider__prev">
        <Icon name="ArrowIcon" size={25} />
      </button>
      <ul class="slider__list">
        {
          comentarios.map((coment, index) => (
            <li class:list={[`slider__item`, { active: index === 0 }]} data-slide={index}>
              <Comenterio data={coment} />
            </li>
          ))
        }
      </ul>
      <nav class="slider__nav"></nav>
      <button class="slider__next">
        <Icon name="ArrowIcon" size={25} />
      </button>
    </div>
  </Wrapper>
</SectionPage>

<style lang="scss">
  .slider {
    display: grid;
    gap: 1.5rem;

    &__list {
      --gaps: 20px;
      --Move: auto;
      --transition: none;
      --sliders-show: 3;

      grid-column: 1 / -1;
      grid-row: 1 / 2;

      position: relative;
      display: flex;
      gap: var(--gaps);

      transition: var(--transition) 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      overflow-x: scroll;
      scroll-behavior: var(--Move);
      scroll-snap-type: x mandatory;

      scrollbar-width: 0;

      &::-webkit-scrollbar {
        height: 0px;
      }

      > :nth-child(3n + 1) {
        scroll-snap-stop: always;
        scroll-snap-align: start;
      }

      @media screen and (width < 768px) {
        --sliders-show: 1;
        > :nth-child(1n + 1) {
          scroll-snap-stop: always;
          scroll-snap-align: start;
        }
      }
    }

    &__item {
      flex: 0 0 calc((100% - ((var(--sliders-show) - 1) * var(--gaps))) / var(--sliders-show));

      &.active img {
        // filter: invert(70%);
      }
    }

    &__nav {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      min-height: 2.5rem;
      justify-self: center;
      display: flex;
      align-items: start;
      padding-block-end: 1.5rem;
      gap: 0.8rem;
    }

    &__nav > :global(button) {
      width: 10px;
      aspect-ratio: 1/1;
      outline: 2px solid white;
      border-radius: 50%;

      &.active {
        background-color: white;
      }
    }

    &__next {
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      justify-self: end;
      align-self: center;
      z-index: 20;
      border-radius: 50%;
      color: white;
      width: 40px;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      background-color: rgba(0, 0, 0, 0.566);

      > * {
        transform: rotate(90deg);
        pointer-events: none;
      }
    }

    &__prev {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      z-index: 20;
      border-radius: 50%;
      align-self: center;
      color: white;
      width: 40px;
      aspect-ratio: 1;
      display: grid;
      place-items: center;
      background-color: rgba(0, 0, 0, 0.566);

      > * {
        transform: rotate(-90deg);
        pointer-events: none;
      }
    }
  }
</style>

<script>
  import { SliderResponsive } from '@/scripts/SliderResponsive.ts';

  new SliderResponsive({ slider: '.slider.slider--v4' });
</script>
