---
import SectionPage from '@/components/SectionPage.astro';
import Wrapper from '@/components/Wrapper/Wrapper.astro';
import { Icon } from 'astro-icon/components';
---

<SectionPage classes="section">
  <Wrapper classes="container">
    <div class="container__content">
      <small class="font-bebas-neue">Curso</small>
      <h2 class="container__title font-bebas-neue">WordPress</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique.</p>
      <ul class="container__list">
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
      </ul>
    </div>
    <div class="container__imgWrapper">
      <img
        class="container__img"
        src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
        alt="img1"
      />
    </div>
  </Wrapper>
</SectionPage>
<SectionPage classes="section">
  <Wrapper classes="container">
    <div class="container__content">
      <small class="font-bebas-neue">Curso</small>
      <h2 class="container__title font-bebas-neue">WordPress</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique.</p>
      <ul class="container__list">
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
      </ul>
    </div>
    <div class="container__imgWrapper">
      <img
        class="container__img"
        src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
        alt="img1"
      />
    </div>
  </Wrapper>
</SectionPage>
<SectionPage classes="section">
  <Wrapper classes="container">
    <div class="container__content">
      <small class="font-bebas-neue">Curso</small>
      <h2 class="container__title font-bebas-neue">WordPress</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique.</p>
      <ul class="container__list">
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        
      </ul>
    </div>
    <div class="container__imgWrapper">
      <img
        class="container__img"
        src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
        alt="img1"
      />
    </div>
  </Wrapper>
</SectionPage>
<SectionPage classes="section">
  <Wrapper classes="container">
    <div class="container__content">
      <small class="font-bebas-neue">Curso</small>
      <h2 class="container__title font-bebas-neue">WordPress</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet illo ex iure possimus similique. Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <ul class="container__list">
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        <li class="listIcon">
          <Icon name="ChekIcon" />
          <span>Lorem ipsum dolor sit amet.</span>
        </li>
        
      </ul>
    </div>
    <div class="container__imgWrapper">
      <img
        class="container__img"
        src="https://integro.ancorathemes.com/wp-content/uploads/elementor/thumbs/img-6-copyright-qk4t0xx8xp2ymywwuyacahslqwlvzmj3pz6zlvo0dc.jpg"
        alt="img1"
      />
    </div>
  </Wrapper>
</SectionPage>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 1.5rem;
    // color: white;

    @media (width >= 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &__title{
      font-size: clamp(1.944rem, 1.6782rem + 1.3292vw, 2.592rem);
    }

    &__content {
      // background-color: crimson;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      order: 1;
    }

    &__list {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__img {
      aspect-ratio: 16/9;
      min-height: 100%;
    }
  }
  .section{
    color: rgb(0, 0, 0);
    background-color: #ebecff;
  }

  .section:nth-child(odd) {
      background-color: white;
      color: black;

      @media (width >= 768px) {
        

        .container__content {
         order: 0;
        }
      }

    }

</style>
